@font-face {
    font-family: zen-dots;
    src: url(./assets/ZenDots-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: zen-dots;
}

:root {
    --dark-background: rgb(0, 11, 20);
    --light-background: rgb(0, 18, 32);
    --highlight-color: #187cc9;
    background: repeating-radial-gradient(black, var(--light-background) 3%);    
    background-attachment: fixed;
}

.container {
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 15vh 85vh;
}

.container .sidebar-left {
    grid-area: 2 / 1 / -1 / 2;
    background-color: var(--dark-background);
    opacity: .8;
}

.container .header {
    grid-area: 1 / 1 / 2 / -1;
    background-color: var(--highlight-color);
    opacity: .9;
    display: flex;
    gap: 1.3rem;
    text-shadow: 3px 1px 5px coral;
}

.header #header-spacer {
    height: 100%;
    width: 4vw;
}

.header .text-container {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.text-container h1 {
    align-self: end;
    font-size: 4rem;
}

.text-container h4 {
    font-size: 1.5rem;
}

.header h5 {
    font-size: .9rem;
    align-self: flex-end;
    position: relative;
    right: -21.5vw;
    text-shadow: 2px 1px 5px var(--dark-background);
}


.container .sidebar-right {
    grid-area: 2 / 3 / -1 / -1;
    background-color: var(--dark-background);
    opacity: .8;
}

.container .content {
    grid-area: 2 / 2 / -1 / 3;
}